@media (max-width: 1500px) {
  .about {
    padding-top: 11px;
  }

  .about__descr {
    margin-bottom: 60px;
  }

  .about-blocks {
    flex-direction: column;
  }

  .block {
    border-radius: 32px;
  }

  .block__title {
    letter-spacing: -0.1px;
  }

  .block__text {
    max-width: 100%;
  }

  .about-blocks__left {
    margin-right: 0;
    max-width: 100%;
    min-height: 640px;
    margin-bottom: 32px;
    border-radius: 32px;
  }

  .about-blocks__right {
    max-width: 100%;
  }

  .about-blocks__right-item {
    padding: 65px 155px 65px 317px;
    background-position: 76px center;
  }

  .about-blocks__left-btn {
    padding: 18px 35px;
  }

  .questions__list {
    flex-direction: column;
    gap: 31px;
  }

  .questions__item {
    max-width: 100%;
  }

  .footer__form {
    margin-right: 0;
  }

  .footer__text-wrapper {
    display: none;
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 0 50px;
  }

  .header {
    padding: 26px 0;
  }

  .header__logo {
    margin-right: 0;
  }

  .header__logo-img {
    max-width: 150px;
  }

  .header__nav {
    margin-right: 0;
  }

  .header__nav-list {
    column-gap: 60px;
  }

  .hero {
    padding-top: 40px;
  }

  .hero__wrapper {
    padding: 160px 77px;
  }

  .hero__title {
    max-width: 770px;
    margin-bottom: 16px;
    font-size: 60px;
  }

  .hero__text {
    max-width: 660px;
    margin-bottom: 60px;
    font-size: 20px;
  }

  .hero__btn {
    font-size: 24px;
    padding: 25px 35px;
  }

  .about {
    padding-bottom: 49px;
  }

  .stages {
    padding-bottom: 55px;
  }

  .stages__content {
    margin-right: 50px;
    max-width: 437px;
    width: 100%;
  }

  .stages__text {
    margin-bottom: 25px;
    letter-spacing: 0;
  }

  .stages__btn-agreement {
    padding: 19px 34px;
  }

  .questions {
    padding-bottom: 78px;
  }

  .footer__panel {
    margin-right: 0;
  }

  .footer__form {
    max-width: 541px;
  }

  .footer__form-btn {
    padding: 19px 37px;
    margin-right: 17px;
  }
}

@media (max-width: 920px) {
  .header {
    padding: 17px 0;
    border-radius: 0 0 24px 24px;
  }

  .header__logo-img {
    max-width: 110px;
  }

  .header__nav-list {
    column-gap: 40px;
  }

  .header__nav-link {
    color: #333;
    font-size: 16px;
    font-weight: 700;
  }

  .hero__wrapper {
    padding: 160px 40px;
    border-radius: 24px;
  }

  .hero__title {
    max-width: 588px;
    font-size: 50px;
  }

  .hero__text {
    max-width: 588px;
    font-size: 18px;
  }

  .hero__btn {
    padding: 25px 39px;
    font-size: 23px;
  }

  .about__descr {
    margin-bottom: 55px;
  }

  .about-blocks__left {
    min-height: 650px;
    border-radius: 24px;
  }

  .about-blocks__left-descr {
    justify-content: space-between;
    padding: 34px 40px;
    border-radius: 24px;
  }

  .about-blocks__left-text {
    max-width: 366px;
  }

  .about-blocks__left-btn {
    padding: 18px 35px;
  }

  .block {
    min-height: 235px;
    border-radius: 24px;
  }

  .about-blocks__right-item {
    padding: 35px 46px 35px 170px;
    background-size: 114px 99px;
    background-position: 40px center;
  }

  .about {
    padding-bottom: 51px;
  }

  .stages__info {
    flex-direction: column-reverse;
  }

  .stages__info::after {
    min-height: 284px;
    border-radius: 24px;
    margin-bottom: 40px;
  }

  .stages__content {
    margin-right: 0;
    max-width: 100%;
    width: 100%;
  }

  .stages__text {
    max-width: 100%;
    margin-bottom: 25px;
    letter-spacing: 0;
  }

  .questions__list {
    gap: 30px;
  }

  .questions__item {
    padding: 35px 65px 35px 40px;
  }

  .footer__wrapper {
    flex-direction: column-reverse;
  }

  .footer__nav-list {
    display: none;
  }

  .footer__logo {
    margin-bottom: 17px;
  }

  .footer__form {
    margin-bottom: 50px;
  }

  .form__title {
    margin-bottom: 27px;
  }

  .form__textarea {
    padding-top: 22px;
    margin-bottom: 32px;
  }

  .footer__form-btn {
    padding: 19px 38px;
  }
}

@media (max-width: 700px) {
  .container {
    padding: 0 15px;
  }

  .header {
    padding-bottom: 40px;
    border-radius: 0 0 16px 16px;
  }

  .header__wrapper {
    flex-wrap: wrap;
  }

  .header__nav {
    width: 100%;
    order: 3;
    padding-top: 20px;
    overflow-x: scroll;
  }

  .header__nav::-webkit-scrollbar {
    display: none;
  }

  .header__nav-list {
    column-gap: 24px;
  }

  .about {
    padding-top: 35px;
  }

  .about__descr {
    margin-bottom: 14px;
  }

  .about-blocks__left {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    background-image: none;
  }

  .about-blocks__left::before {
    content: '';
    width: 100%;
    min-height: 200px;
    margin-bottom: 8px;
    border-radius: 16px;
    background-image: url(../img/about-left.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .about-blocks__left-descr {
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    backdrop-filter: brightness(100%);
  }

  .about-blocks__left-text {
    margin-right: 0;
    max-width: 100%;
    margin-bottom: 12px;
    color: var(--black-color);
    font-size: 14px;
    font-weight: 400;
  }

  .about-blocks__left-btn {
    padding: 10px 42px;
    border-radius: 8px;
    font-size: 12px;
    border: 2px solid var(--orange-color);
    color: var(--orange-color);
  }

  .about-blocks__left-btn:focus {
    color: var(--white-color);
  }

  .about-blocks__left-btn:hover {
    color: var(--white-color);
  }

  .about-blocks__left-btn:active {
    color: var(--white-color);
    border: 2px solid var(--active-color);
  }

  .block {
    min-height: 100px;
  }

  .about-blocks__right-item {
    padding: 0;
    padding-top: 62px;
    border: none;
    background-size: 64px 49px;
    background-position: 0 0;
  }

  .block__title {
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 500;
  }

  .block__text {
    font-size: 14px;
  }
}

@media (max-width: 570px) {  /* footer */
  .questions {
    padding-bottom: 60px;
  }

  .footer {
    padding: 30px 0;
    padding-bottom: 20px;
  }

  .footer__form {
    border-bottom: 1px solid #414141;
    margin-bottom: 16px;
    padding-bottom: 25px;
  }

  .form__title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .form__input {
    padding: 14px 20px;
    font-size: 14px;
  }

  .form__textarea {
    padding-top: 22px;
    margin-bottom: 25px;
  }

  .form__panel {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__form-btn {
    padding: 12px 19px;
    margin-right: 0;
    margin-bottom: 12px;
    border-radius: 8px;
    font-size: 12px;
  }

  .footer__panel {
    max-width: 100%;
    margin-right: 0;
    align-items: center;
  }

  .footer__logo {
    margin-bottom: 16px;
  }

  .footer__logo-img {
    max-width: 131px;
  }

  .footer__social-icon {
    width: 40px;
    height: 40px;
  }

  .footer__social-item:not(:last-child) {
    margin-right: 16px;
  }
}

@media (max-width: 520px) {
  .section-title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .hero {
    padding-top: 20px;
  }

  .hero__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 22px;
    border-radius: 16px;
  }

  .hero__title {
    max-width: 247px;
    margin-bottom: 6px;
    font-size: 20px;
    text-align: center;
  }

  .hero__text {
    max-width: 247px;
    margin-bottom: 32px;
    font-size: 12px;
    text-align: center;
  }

  .hero__btn {
    border-radius: 8px;
    padding: 14px 28px;
    font-size: 12px;
  }

  .about {
    padding-bottom: 33px;
  }

  .about__descr {
    font-size: 14px;
  }

  .stages {
    padding-bottom: 35px;
  }

  .stages__info {
    flex-direction: column-reverse;
  }

  .stages__info::after {
    min-height: 160px;
    border-radius: 16px;
    margin-bottom: 21px;
  }

  .stages__content {
    margin-right: 0;
    max-width: 100%;
    width: 100%;
  }

  .stages__subtitle {
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 500;
  }

  .stages__text {
    max-width: 100%;
    margin-bottom: 25px;
    font-size: 14px;
    letter-spacing: 0;
  }

  .stages__btn-detail {
    padding: 12px 44px;
    margin-right: 5px;
    border-radius: 8px;
    font-size: 12px;
  }

  .stages__btn-agreement {
    padding: 11px 31px;
    border-radius: 8px;
    font-size: 12px;
  }

  .questions__list {
    gap: 32px;
  }

  .questions__item {
    border: none;
    padding: 0;
  }

  .questions__item-title {
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 500;
  }

  .questions__item-text {
    font-size: 14px;
  }
}
